<div id="preloader">
    <div data-loader="circle-side"></div>
</div><!-- /Preload -->

<div id="loader_form">
    <div data-loader="circle-side-2"></div>
</div><!-- /loader_form -->

<style>
    .close {
        position: absolute;
        right: 32px;
        top: 32px;
        width: 45px;
        height: 45px;
        opacity: 0.5;
        border-radius: 30px;
        background-color: #ccc;
    }

    .close:hover {
        opacity: 1;
    }

    .close:before,
    .close:after {
        position: absolute;
        top: 10.5px;
        left: 22px;
        content: ' ';
        height: 24px;
        width: 2px;
        background-color: #000;
    }

    .close:before {
        transform: rotate(45deg);
    }

    .close:after {
        transform: rotate(-45deg);
    }

    .chosen-container-single .chosen-single {
        height: 43px !important;
        padding-top: 7px;
    }
</style>

<div class="container-fluid">
    <div class="row row-height">

        {{!-- COLUMNA IZQUIERDA --}}
        <div class="col-xl-4 col-lg-4 content-left">
            <div class="content-left-wrapper">
                <a href="#" id="logo"><img src="./img/3C-Sigma-White.svg" alt="Logo 3CSigma" width="75" height="75"></a>
                <div id="social">
                    <ul>
                        <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#0"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#0"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#0"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
                <!-- /social -->
                <div>
                    <figure><img src="./img/info_graphic_1.svg" alt="" class="img-fluid" width="270" height="270">
                    </figure>
                    <h2>Registro de Consultores</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates cumque repellat
                        necessitatibus magnam, asperiores ipsum, earum voluptatem voluptas ex explicabo culpa voluptate
                        maxime expedita exercitationem totam amet libero, ab quibusdam.</p>
                    <a href="https://wa.me/+17863548822" target="_blank" class="btn_1 rounded yellow my-auto">
                        <i class="fab fa-whatsapp" style="font-size:19px"></i> ¿Tienes dudas?
                    </a>
                </div>
                <div class="copy">© {{actualYear}} 3C Sigma</div>
            </div>
            <!-- /content-left-wrapper -->
        </div>
        <!-- /content-left -->

        {{!-- COLUMNA DERECHA --}}
        <div class="col-xl-8 col-lg-8 content-right" id="start">
            <div id="wizard_container">
                <form id="wrapped" method="POST">
                    <div id="middle-wizard">
                        <!-- Paso 1 DATOS PERSONALES -->
                            <h2 class="section_title">DATOS PERSONALES</h2>
                            <div class="row add_top_10">
                                <div class="form-group col-md-6 ">
                                    <label for="nombres_consultor">Nombres</label>
                                    <input type="text" name="nombres_consultor" id="nombres_consultor" class="form-control campoLetras required">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="apellidos_consultor">Apellidos</label>
                                    <input type="text" name="apellidos_consultor" id="apellidos_consultor" class="form-control campoLetras required">
                                </div>
                            </div>
                            <!-- /Fila Grupo de campos -->
                            <div class="row add_top_10">
                                <div class="form-group col-md-6 ">
                                    <label for="email_consultor">Email</label>
                                    <input type="email" name="email_consultor" id="email_consultor" class="form-control required">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="tel_consultor">Teléfono</label>
                                    <input type="text" name="tel_consultor" id="tel_consultor" class="form-control required">
                                </div>
                            </div>
                            <!-- /Fila Grupo de campos -->
                            <div class="row add_top_10">
                                <div class="form-group col-md-12">
                                    <label for="direccion_consultor">Dirección</label>
                                    <input type="text" name="direccion_consultor" id="direccion_consultor" class="form-control mb-2">
                                    <label for="experiencia_consultor">Experiencia</label>
                                    <input type="text" name="experiencia_consultor" id="experiencia_consultor" class="form-control mb-2">
                                </div>
                            </div>
                            <!-- /Fila Grupo de campos -->
                    </div>
                    <!-- /middle-wizard -->
                    <div id="bottom-wizard">
                        <button type="submit" name="registrar_consultor" class="submit">Registrar</button>
                    </div>
                    <!-- /bottom-wizard -->
                </form>
            </div>
            <!-- /Wizard container -->
        </div>
        <!-- /content-right-->
    </div>
    <!-- /row-->
</div>
<!-- /container-fluid -->

<a href="/login" class="close">


    {{!-- SCRIPT MASCARAS PARA INPUT --}}
    <script src="https://unpkg.com/imask"></script>

    <script>

        // Formato de número USA (+1)
        document.addEventListener("DOMContentLoaded", function () {
            IMask(document.getElementById('tel_Ficha'), {
                mask: '+{1} (000) 000-0000'
            });
        });

    </script>