node_modules
src/.env
.env
src/public/archivos_analisis_empresa/*.jpg
src/public/archivos_analisis_empresa/*.jpeg
src/public/archivos_analisis_empresa/*.png
src/public/archivos_analisis_empresa/*.pdf
src/public/archivos_analisis_empresa/*.xlsx
src/public/archivos_analisis_empresa/*.pdf
src/public/archivos_analisis_empresa/*.docx
src/public/archivos_analisis_empresa/*.zip
src/pulblic/archivos_empresarial_empresa/*.jpg
src/pulblic/archivos_empresarial_empresa/*.jpeg
src/pulblic/archivos_empresarial_empresa/*.png
src/pulblic/archivos_empresarial_empresa/*.pdf
src/pulblic/archivos_empresarial_empresa/*.xlsx
src/pulblic/archivos_empresarial_empresa/*.docx
src/pulblic/archivos_empresarial_empresa/*.zip
src/pulblic/archivos_estrategico_empresa/*.jpg
src/pulblic/archivos_estrategico_empresa/*.jpeg
src/pulblic/archivos_estrategico_empresa/*.png
src/pulblic/archivos_estrategico_empresa/*.pdf
src/pulblic/archivos_estrategico_empresa/*.xlsx
src/pulblic/archivos_estrategico_empresa/*.docx
src/pulblic/archivos_estrategico_empresa/*.zip
src/public/propuestas_empresa/*.pdf
src/public/certificados_consultores/*.pdf
src/public/informes_empresas/*.pdf
src/public/foto_profile/*.jpg
src/public/foto_profile/*.jpeg
src/public/foto_profile/*.png
src/public/archivos_plan_empresarial/*.jpg
src/public/archivos_plan_empresarial/*.jpeg
src/public/archivos_plan_empresarial/*.png
src/public/archivos_plan_empresarial/*.pdf
src/public/archivos_plan_empresarial/*.xlsx
src/public/archivos_plan_empresarial/*.pdf
src/public/archivos_plan_empresarial/*.docx
src/public/archivos_plan_empresarial/*.zip