<div class="modal fade bd-example-modal-sm" id="modalNewRendimiento" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" style="max-width: 500px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nuevo Rendimiento</h5>
                <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
            </div>
            <form action="/nuevoRendimiento" method="post">
                <div class="modal-body">
                        <input type="hidden" name="codigo" value="{{datos.code}}">
                        <div class="form-group">
                            <input type="text" class="form-control inputTotales_" name="total_ventas" placeholder="Total Ventas">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control inputTotales_" name="total_compras" placeholder="Total Compras">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control inputTotales_" name="total_gastos" placeholder="Total Gastos">
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

{{> general/inputsMoneda}}