<!--**********************************
        Content body start
***********************************-->
<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="row">
                <div class="col-12">
                    <h2>Datos del Consultor</h2>
                </div>

                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Nombres</label>
                        <input type="text" value="{{consultor.nombres_consultor}} {{consultor.apellidos_consultor}}" class="form-control" disabled>
                    </div>
                </div>

                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Nombres</label>
                        <input type="text" value="xxxxxx xxxxxxx" class="form-control" readonly>
                    </div>
                </div>

                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Nombres</label>
                        <input type="text" value="xxxxxx xxxxxxx" class="form-control" readonly>
                    </div>
                </div>

        </div>
    </div>
</div>