<!--**********************************
                    Content body start
                ***********************************-->
<div class="content-body">
  <!-- row -->
  <div class="container-fluid">
    <div class="row">
      <h2 style="color: #000">Bienvenido {{user.nombre_empresa}}</h2>
    </div>
  </div>
</div>

</div> <!-- Fin del Main Wrapper - Inicia en el Partial Navigation -->

<!--**********************************
            Scripts
        ***********************************-->