<div class="content-body">
    <!-- row -->
    <div class="container-fluid">

        <div class="row">
          <div class="col">
            <h2>HOLA DESDE EL PERFIL, SOY USUARIO => {{rol}}</h2>
          </div>
        </div>
    </div>