<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
<script>
    function ocultar_DivIzq() {
        $('#icono-noVerDiv').hide()
        $('#icono-verDiv').show()
        $('#col_izq').hide()
        $('#col_der').removeClass('col-xl-8')
        $('#col_der').addClass('col-xl-12')
    }
    function mostrar_DivIzq() {
        $('#icono-verDiv').hide()
        $('#icono-noVerDiv').show()
        $('#col_izq').show()
        $('#col_der').removeClass('col-xl-12')
        $('#col_der').addClass('col-xl-8')
    }

    function addTaskToList(id, fecha_inicio, fecha_entrega, dimension) {
        return `
        <tr>
            <td>N/A</td>
            <td>${dimension}</td>
            <td class="text-primary font-w600" style="font-size: 14px;">Pendiente</td>
            <td>
                <div style="width:100% ; margin-left: -8px;font-size: 8px;height: 15px; text-align: center;color: white;background: #ada7a7;border-radius: 7px;">
                    ${fecha_inicio} - ${fecha_entrega}
                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                        style="width:0%;height: 16px;margin-top: -13px;"></div>
                </div>
            </td>
            <td class="text-white" style="background: #585858;font-size: 11px; text-align:center">Sin especificar</td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <a onclick="editarTarea(${id})" title="Editar"
                        class="btn btn-primary shadow btn-xs sharp mr-1"
                        style="background: linear-gradient(189.55deg, #FED061 -131.52%, #812082 -11.9%, #50368C 129.46%);"><i
                            style="color:white ;" class="fa fa-pencil"></i>
                    </a>
                    <a onclick="eliminarTarea(${id})" title="Eliminar" class="btn btn-danger shadow btn-xs sharp"
                        style="background: #DC0000;"><svg xmlns="http://www.w3.org/2000/svg"
                            width="12px" viewBox="0 0 448 512">
                            <path
                                d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0H284.2c12.1 0 23.2 6.8 28.6 17.7L320 32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 96 0 81.7 0 64S14.3 32 32 32h96l7.2-14.3zM32 128H416V448c0 35.3-28.7 64-64 64H96c-35.3 0-64-28.7-64-64V128zm96 64c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16z"
                                fill="white" />
                        </svg>
                    </a>
                </div>
            </td>
        </tr>
        `
    }

    function agregarTarea() {
        const actividad = $("#actividad").val();
        const fecha_inicio = $("#fecha_inicio").val();
        const fecha_entrega = $("#fecha_entrega").val();
        const dimension = $("#dimension").val();
        const nombreEmpresa = $("#nombreEmpresa").text();
        const email = $("#emailEmpresa").text();
        $('#tiempoTxt-sidebar').text('A tiempo')
        document.getElementById("comentario").value = "";

        let fechaini, fechafin;

        fechaini = new Date(fecha_inicio);
        fechaini = fechaini.getTime();
        fechaini = (((fechaini / 1000) / 60) / 60) / 24

        fechafin = new Date(fecha_entrega);
        fechafin = fechafin.getTime();
        fechafin = (((fechafin / 1000) / 60) / 60) / 24

        if(fechaini > fechafin){
            toastr.warning("La fecha de finalización no puede ser inferior a la fecha de inicio", "Atención", {
                positionClass: "toast-top-full-width",
                timeOut: 3e3,
                closeButton: !0,
                debug: !1,
                newestOnTop: !0,
                progressBar: !0,
                preventDuplicates: !0,
                onclick: null,
                showDuration: "200",
                hideDuration: "200",
                extendedTimeOut: "200",
                showEasing: "swing",
                hideEasing: "linear",
                showMethod: "fadeIn",
                hideMethod: "fadeOut",
                tapToDismiss: !1
            })
        }else if (actividad == '' || fecha_entrega == '' || dimension == '') {
            toastr.warning("Hay campos vacíos", "Atención", {
                positionClass: "toast-top-full-width",
                timeOut: 3e3,
                closeButton: !0,
                debug: !1,
                newestOnTop: !0,
                progressBar: !0,
                preventDuplicates: !0,
                onclick: null,
                showDuration: "200",
                hideDuration: "200",
                extendedTimeOut: "200",
                showEasing: "swing",
                hideEasing: "linear",
                showMethod: "fadeIn",
                hideMethod: "fadeOut",
                tapToDismiss: !1
            })
        } else {
            // Activar Sidebar
            $('.chatbox').addClass('active');
            $('#cuerpoGeneral').css('overflow-y', 'hidden');

            // Enviar info a la base de datos
            const empresa = $("#idEmpresa").val();
            const data = JSON.stringify({ actividad, fecha_inicio, fecha_entrega, dimension, empresa, nombreEmpresa, prioridad: 0, email })
            fetch('/agregarTarea', {
                method: 'POST',
                body: data,
                headers: {'Content-Type': 'application/json'}
            }).then(res => res.json())
            .catch(error => console.error('Error Agregar Tarea: ', error))
            .then(response => {
                if (response) {
                    const idTarea = response.insertId
                    
                    const itemTaskList = addTaskToList(idTarea, fecha_inicio, fecha_entrega, dimension)
                    $('#cuerpoTareas').prepend(itemTaskList);

                    $('#observacion').val('')
                    $('#estado').val(0)
                    $('#prioridad').val(0)
                    $('#responsable').val('')

                    $('#idTarea').val(idTarea)
                    $('#actividad-sidebar').val(actividad)
                    $('#fechaIni-sidebar').val(fecha_inicio)
                    $('#fechaFin-sidebar').val(fecha_entrega)
                    $('#dimension-sidebar').val(dimension)

                    $("#actividad").val(''); $("#fecha_inicio").val(''); $("#fecha_entrega").val(''); $("#dimension").val('');
                } else {
                    toastr.danger("Hubo una inconsistencia al agregar la tarea.", "Error", {
                        positionClass: "toast-top-full-width",
                        timeOut: 3e3,
                        closeButton: !0,
                        debug: !1,
                        newestOnTop: !0,
                        progressBar: !0,
                        preventDuplicates: !0,
                        onclick: null,
                        showDuration: "200",
                        hideDuration: "200",
                        extendedTimeOut: "200",
                        showEasing: "swing",
                        hideEasing: "linear",
                        showMethod: "fadeIn",
                        hideMethod: "fadeOut",
                        tapToDismiss: !1
                    })
                }
            });
        }
    }

    function editarTarea(idTarea){
        const listaComentarios = document.querySelector('#listaComentarios')
        listaComentarios.innerHTML = ''
        document.getElementById("comentario").value = "";

        const tiempo = $('#tiempo-sidebar')
        tiempo.css('display', 'none')
        $('.chatbox').addClass('active');
        $('#cuerpoGeneral').css('overflow-y', 'hidden');
        fetch('/editarTarea', {
            method: 'POST',
            body: JSON.stringify({idTarea}),
            headers: {'Content-Type': 'application/json'}
        }).then(res => res.json())
        .catch(error => console.error('Error Editar Tarea: ', error))
        .then(r => {
            $('#idTarea').val(idTarea)
            $("#idEmpresa").val(r.empresa)
            $('#actividad-sidebar').val(r.actividad)
            $("#responsable").val(r.responsable)
            $("#observacion").val(r.observacion)
            $('#fechaIni-sidebar').val(r.fecha_inicio)
            $('#fechaFin-sidebar').val(r.fecha_entrega)
            $('#dimension-sidebar').val(r.dimension)
            $("#estado").val(r.estado)
            $("#prioridad").val(r.prioridad)

            const comentarios = JSON.parse(r.mensaje)
            if (comentarios) {
                $('#divComentarios').css('display', 'inline-block')
            } else {
                $('#divComentarios').css('display', 'none')
            }

            comentarios.forEach(x => {
                listaComentarios.innerHTML += `
                    <li>
                        <div class="timeline-badge primary"></div>
                        <a class="timeline-panel text-muted">
                            <span class="fechaMensajes">${x.fecha}</span>
                            <h6 class="mb-0 txtSidebar">${x.mensaje}<br>
                                <span class="txtYellow">${x.nombres} ${x.apellidos} - ${x.rol}</span>
                            </h6>
                        </a>
                    </li>
                `
            })

            if (r.estado == 0 || r.estado == 1) {
                const fechaActual = new Date().toLocaleDateString('fr-CA')
                $('#tiempoTxt-sidebar').text('A tiempo')
                tiempo.css('display', 'inline-table')
                if (fechaActual > r.fecha_entrega){
                    $('#tiempoTxt-sidebar').text('Retrasada')
                }
            }
        })
    }

    function actualizarTarea() {

        const listaComentarios = document.querySelector('#listaComentarios')
        listaComentarios.innerHTML = ''
        $('#divComentarios').css('display', 'none')
        const idTarea = $("#idTarea").val();
        const empresa = $("#idEmpresa").val();
        const actividad = $("#actividad-sidebar").val();
        const responsable = $("#responsable").val();
        const observacion = $("#observacion").val();
        let fecha_inicio = $("#fechaIni-sidebar").val();
        let fecha_entrega = $("#fechaFin-sidebar").val();
        const dimension = $("#dimension-sidebar").val();
        const prioridad = $("#prioridad").val();
        const email = $("#emailEmpresa").text();
        //const mensaje = $("#mensaje").val();
        const estado = $("#estado").val();
        let fechaini, fechafin

        fechaini = new Date(fecha_inicio);
        fechaini = fechaini.getTime();
        fechaini = (((fechaini / 1000) / 60) / 60) / 24

        fechafin = new Date(fecha_entrega);
        fechafin = fechafin.getTime();
        fechafin = (((fechafin / 1000) / 60) / 60) / 24

        if(fechaini > fechafin){
            toastr.warning("La fecha de finalización no puede ser inferior a la fecha de inicio", "Atención", {
                positionClass: "toast-top-full-width",
                timeOut: 3e3,
                closeButton: !0,
                debug: !1,
                newestOnTop: !0,
                progressBar: !0,
                preventDuplicates: !0,
                onclick: null,
                showDuration: "200",
                hideDuration: "200",
                extendedTimeOut: "200",
                showEasing: "swing",
                hideEasing: "linear",
                showMethod: "fadeIn",
                hideMethod: "fadeOut",
                tapToDismiss: !1
            })
        } else {
            const data = JSON.stringify({ idTarea, empresa, actividad, responsable, observacion, fecha_inicio, fecha_entrega, dimension, estado, email, prioridad })
            fetch('/actualizarTarea', {
                method: 'POST',
                body: data,
                headers: {'Content-Type': 'application/json'}
            }).then(res => res.json())
            .catch(error => console.error('Error Actualizar Tarea: ', error))
            .then(response => {
                location.hash = '#plan-estrategico';
                location.reload(true)
            })
        }
    }

    function eliminarTarea(idTarea) {
        Swal.fire({
            title: '¿Deseas eliminar la tarea?',
            text: "Esta acción no es reversible.",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#50368C',
            cancelButtonColor: '#d33',
            cancelButtonText: 'Cancelar',
            confirmButtonText: '¡Sí, eliminar!'
        }).then((result) => {
            if (result.isConfirmed) {
                fetch('/eliminarTarea', {
                    method: 'POST',
                    body: JSON.stringify({idTarea}),
                    headers: {'Content-Type': 'application/json'}
                }).then(res => res.json())
                .catch(error => console.error('Error Eliminar Tarea: ', error))
                .then(response => {
                    location.hash = '#plan-estrategico';
                    location.reload(true)
                })
            }
        })
    }

    // => Función para el envio de los comentarios a la base de datos
    function addComentario() {
        const comentario = $("#comentario").val();
        const idTarea = $("#idTarea").val();
        const listaComentarios = document.querySelector('#listaComentarios')

        $('#divComentarios').css('display', 'inline-block')

        const btnComentario = document.querySelector('#btnComentario')
        let datosUsuario = document.getElementById('datosUsuario').value
        datosUsuario = JSON.parse(datosUsuario)

        const fecha = new Date().toLocaleDateString("en-US")
        const consultor = datosUsuario.nombres +' '+ datosUsuario.apellidos

        listaComentarios.innerHTML += `
            <li class="animate__animated animate__fadeInUp">
                <div class="timeline-badge primary"></div>
                <a class="timeline-panel text-muted">
                    <span class="fechaMensajes">${fecha}</span>
                    <h6 class="mb-0 txtSidebar">${comentario}<br>
                        <span class="txtYellow">${consultor} - ${datosUsuario.rol}</span>
                    </h6>
                </a>
            </li> 
        `

        fetch('/comentarioTareas', {
            method: 'POST',
            body: JSON.stringify({comentario, idTarea, fecha}),
            headers: {'Content-Type': 'application/json'}
        }).then(res => res.json())
        .catch(error => console.error('Error:', error))
        .then(response => {
            if (response){
                console.log("\nCOMENTARIO AGREGADO A DB EXITOSAMENTE !!\n");
                document.getElementById("comentario").value = "";
            } else {
                const msg = "Ocurrió un error inesperado al agregar el mensaje por favor recargue la página e intente nuevamente. Si el error persiste contactar a soporte."
                console.log("\n"+msg+"\n");
                document.getElementById("comentario").value = msg;
            }
        });
    }

    (function () {

        const dzChartlist = function () {

            /** GRÁFICA PARA INDICADORES */

            const chartIndicadores1 = function () {
                let valAnalisis1 = document.getElementById('jsonAnalisisAdm1').value;
                let valAnalisis2 = document.getElementById('jsonAnalisisAdm2').value;
                let nuevosProyectos = document.getElementById('nuevosProyectos').value;
                let chartAnalisis1 = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
                let chartAnalisis2 = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

                if (valAnalisis1) {
                    valAnalisis1 = JSON.parse(valAnalisis1) 
                    chartAnalisis1 = [valAnalisis1.producto, valAnalisis1.administracion, valAnalisis1.talento_humano, valAnalisis1.finanzas, valAnalisis1.servicio_cliente, valAnalisis1.operaciones, valAnalisis1.ambiente_laboral, valAnalisis1.innovacion, valAnalisis1.marketing, valAnalisis1.ventas]
                }
                if (valAnalisis2) {
                    valAnalisis2 = JSON.parse(valAnalisis2)
                    chartAnalisis2 = [valAnalisis2.producto, valAnalisis2.administracion, valAnalisis2.talento_humano, valAnalisis2.finanzas, valAnalisis2.servicio_cliente, valAnalisis2.operaciones, valAnalisis2.ambiente_laboral, valAnalisis2.innovacion, valAnalisis2.marketing, valAnalisis2.ventas]
                }

                let valorMax = 10;
                if (nuevosProyectos == 1) {
                    valorMax = 5;
                }

                if ($('#chartEmpresaAdm1').length > 0) {
                    const chartEmpresaAdm1 = document.getElementById("chartEmpresaAdm1").getContext('2d')

                    chartEmpresaAdm1.height = 100;
                    new Chart(chartEmpresaAdm1, {
                        type: 'bar',
                        data: {
                            defaultFontFamily: 'Oblivian',
                            labels: ["Producto", "Admin", "Talento Humano", "Finanzas", "Servicio al cliente", "Operaciones", "Ambiente Laboral", "Innovación", "Marketing", "Ventas"],
                            datasets: [{
                                label: "Puntaje",
                                backgroundColor: "#50368C",
                                borderColor: "#50368C",
                                data: chartAnalisis1,
                                fill: false,
                            },
                                // {
                                // 	label: "Último análisis",
                                // 	fill: false,
                                // 	backgroundColor: "#FED061",
                                // 	borderColor: "#FED061",
                                // 	data: chartAnalisis2,
                                // }
                            ]
                        },
                        options: {
                            legend: false,
                            scales: {
                                yAxes: [{
                                    gridLines: {
                                        display: true
                                    },
                                    ticks: {
                                        beginAtZero: true,
                                        min: 0, // minimum value
                                        max: valorMax // maximum value
                                    }
                                }],
                                xAxes: [{
                                    gridLines: {
                                        display: false
                                    },
                                    ticks: {
                                        fontSize: 11
                                    },
                                    //barPercentage: 0.5,
									//categoryPercentage: 1,
									//barThickness: 14,
									//maxBarThickness: 10,
									barPercentage: 4,
                                    categoryPercentage: 4,
                                    barThickness: 28,
                                    maxBarThickness: 25,
                                }]
                            }
                        }
                    });
                }
            }

            const chartIndicadores2 = function () {
                let valDimensiones1 = document.getElementById('jsonDimensionesAdm1').value;
                let valDimensiones2 = document.getElementById('jsonDimensionesAdm2').value;
                let nuevosProyectos = document.getElementById('nuevosProyectos').value;
                let chartDimensiones1 = [0, 0, 0, 0]
                let chartDimensiones2 = [0, 0, 0, 0]
                let titulos = ["Producto", "Administración", "Operaciones", "Marketing"];

                if (valDimensiones1) {
                    valDimensiones1 = JSON.parse(valDimensiones1)
                }

                if (nuevosProyectos) {
                    chartDimensiones1 = [valDimensiones1.producto, valDimensiones1.administracion, valDimensiones1.operaciones, valDimensiones1.marketing]
                    if (nuevosProyectos == 1) {
                        titulos = ["Experiencia en el Rubro", "Mentalidad Empresarial", "Viabilidad del Negocio", "Estructura del Negocio"]
                        chartDimensiones1 = [valDimensiones1.experiencia_rubro, valDimensiones1.mentalidad, valDimensiones1.viabilidad_, valDimensiones1.estructura]
                    }
                }

                if (valDimensiones2) {
                    valDimensiones2 = JSON.parse(valDimensiones2)
                    chartDimensiones2 = [valDimensiones2.producto, valDimensiones2.administracion, valDimensiones2.operaciones, valDimensiones2.marketing]
                }

                if ($('#chartEmpresaAdm2').length > 0) {
                    const chartEmpresaAdm2 = document.getElementById("chartEmpresaAdm2").getContext('2d')

                    chartEmpresaAdm2.height = 100;
                    new Chart(chartEmpresaAdm2, {
                        type: 'bar',
                        data: {
                            defaultFontFamily: 'Oblivian',
                            labels: titulos,
                            datasets: [{
                                label: "Puntaje",
                                backgroundColor: "#50368C",
                                borderColor: "#50368C",
                                data: chartDimensiones1,
                                fill: false,
                            },
                                // {
                                // 	label: "Último análisis",
                                // 	fill: false,
                                // 	backgroundColor: "#FED061",
                                // 	borderColor: "#FED061",
                                // 	data: chartDimensiones2,
                                // }
                            ]
                        },
                        options: {
                            legend: false,
                            scales: {
                                yAxes: [{
                                    gridLines: {
                                        display: true
                                    },
                                    ticks: {
                                        beginAtZero: true,
                                        min: 0, // minimum value
                                        //max: 10 // maximum value
                                    }
                                }],
                                xAxes: [{
                                    gridLines: {
                                        display: false
                                    },
                                    ticks: {
                                        fontSize: 11
                                    },
                                    barPercentage: 4,
                                    categoryPercentage: 4,
                                    barThickness: 28,
                                    maxBarThickness: 25,
                                }]
                            }
                        }
                    });
                }
            }

            /*************************** FIN GRÁFICA INDICADORES *******************************/
            
            /* Function ============ */
            return {
                load: function () {
                    {{#if graficas2}}
                    chartIndicadores1();
                    chartIndicadores2();
                    {{/if}}
                },
            }

        } ();

        jQuery(window).on('load', function () {
			setTimeout(function () {
				dzChartlist.load();
			}, 1000);
		});


		$(document).ready(function () {

            const URLhash = window.location.hash;
            if (URLhash === '#diagnostico_') {
                $('#item-diagnostico').trigger("click");
            }
            if (URLhash === '#analisis_') {
                $('#item-analisis').trigger("click");
            }
            if (URLhash === '#plan-estrategico') {
                $('#item-estrategico').trigger("click");
            }
            if (URLhash === '#plan-empresarial') {
                $('#item-empresarial').trigger("click");
            }
            
            $(".chatbox-close").on("click", () => {
                $('#cuerpoGeneral').css('overflow-y', 'auto')
                $('#fechaIni-sidebar').css('display', 'inline-block')
                $('#fechaFin-sidebar').css('display', 'inline-block')
                $('#dimension-sidebar').css('display', 'inline-block')
                $('#btnGuardar-sidebar').css('display', 'flex')
                $("#estado").css('display', 'inline-block')
                //$("#actividad-sidebar").attr('readonly', true)
                $('#actividad-sidebar').attr('readonly', false)
                $("#responsable").attr({'readonly': false, 'placeholder': 'Escribe un título..'})
                $("#observacion").attr({'readonly': false, 'placeholder': 'Escribe una descripción detallada u observación para esta tarea..'})
                $('#txtFechaIni').css('display', 'none')
                $('#txtFechaFin').css('display', 'none')
                $('#txtDimension').css('display', 'none')
                $('#estado-sidebar').css('display', 'none')
            })

			{{#if frmDiag.tablasVacias}}
                const btnCargarInforme = document.getElementById('btnInfDiag');
                btnCargarInforme.addEventListener("click", function () {
                    Swal.fire(
                        'Lo sentimos!',
                        'Aún no sé ha llenado ningún cuestionario para subir un informe',
                        'warning'
                    )
                });
			{{else}}
			
				{{#if graficas2}}

                function guardarInforme(formData, estado, fecha, boton){
                    fetch('/guardarInforme', {
                        method: 'POST',
                        body: formData,
                    })
                        .then(res => res.json())
                        .catch(error => console.error('Error:', error))
                        .then(response => {
                            if (response.ok) {

                                toastr.success("El informe ha sido cargado exitosamente", "Atención", {
                                    positionClass: "toast-top-center",
                                    timeOut: 5e3,
                                    closeButton: !0,
                                    debug: !1,
                                    newestOnTop: !0,
                                    progressBar: !0,
                                    preventDuplicates: !0,
                                    onclick: null,
                                    showDuration: "300",
                                    hideDuration: "1000",
                                    extendedTimeOut: "1000",
                                    showEasing: "swing",
                                    hideEasing: "linear",
                                    showMethod: "fadeIn",
                                    hideMethod: "fadeOut",
                                    tapToDismiss: !1
                                })

                                if (boton == 1){
                                    btnVerInforme.style.display = 'block'
                                    btnVerInforme.href = response.url
                                    $("#btnHidden1").hide()
                                } 
                                if (boton == 2){
                                    btnVerInformeProd.style.display = 'block'
                                    btnVerInformeProd.href = response.url
                                    $("#btnHidden2").hide()
                                } 
                                if (boton == 3){
                                    btnVerInformeAdmin.style.display = 'block'
                                    btnVerInformeAdmin.href = response.url
                                    $("#btnHidden3").hide()
                                } 
                                if (boton == 4){
                                    btnVerInformeOpe.style.display = 'block'
                                    btnVerInformeOpe.href = response.url
                                    $("#btnHidden4").hide()
                                } 
                                if (boton == 5){
                                    btnVerInformeMarketing.style.display = 'block'
                                    btnVerInformeMarketing.href = response.url
                                    $("#btnHidden5").hide()
                                } 
                                if (boton == 6){
                                    btnVerInformeGeneral.style.display = 'block'
                                    btnVerInformeGeneral.href = response.url
                                    $("#btnHidden6").hide()
                                } 
                                if (boton == 7){
                                    btnVerInformePlan.style.display = 'block'
                                    btnVerInformePlan.href = response.url
                                    $("#btnHidden7").hide()
                                } 

                                estado.classList.remove("badge-warning")
                                estado.classList.add("badge-success")
                                estado.innerHTML = "Cargado"
                                fecha.innerHTML = response.fecha;
                                
                            } else {
                                toastr.danger("No sé pudo subir el informe, contacte a soporte", "Error", {
                                    positionClass: "toast-top-center",
                                    timeOut: 5e3,
                                    closeButton: !0,
                                    debug: !1,
                                    newestOnTop: !0,
                                    progressBar: !0,
                                    preventDuplicates: !0,
                                    onclick: null,
                                    showDuration: "300",
                                    hideDuration: "1000",
                                    extendedTimeOut: "1000",
                                    showEasing: "swing",
                                    hideEasing: "linear",
                                    showMethod: "fadeIn",
                                    hideMethod: "fadeOut",
                                    tapToDismiss: !1
                                })

                            }
                        });
                }

                /* Etapa 1 - Informe Diagnóstico */
                const infoEstado = document.getElementById("infoEstado");
                const btnVerInforme = document.getElementById('btnVerInforme');
                const spanFecha = document.getElementById("spanFecha");
                const codigoEmpresa = document.getElementById("codigoEmpresa").value;
                const informeDiag = document.querySelector('.inputInformeDiag');
                const nomInformeDiag = 'Informe diagnóstico';

                if (informeDiag) {
                    informeDiag.addEventListener('change', (e) => {
                        console.log(e)
                        const file = e.target.files[0]
                        // Capturando Zona Horaria Local
                        const tzLocal = Intl.DateTimeFormat().resolvedOptions().timeZone;

                        const formData = new FormData();
                        formData.append('file', file);
                        formData.append('codigoEmpresa', codigoEmpresa);
                        formData.append('nombreInforme', nomInformeDiag);
                        formData.append('zonaHoraria', tzLocal);

                        guardarInforme(formData, infoEstado, spanFecha, 1)
                    });
                }
				
                /* ----------------------------- Etapa 2 - Informe Análisis ----------------------------- */
                // Dimensión Producto
                const infoEstadoProd = document.getElementById("infoEstadoProd");
                const btnVerInformeProd = document.getElementById('btnVerInformeProd');
                const spanFechaProd = document.getElementById("spanFechaProd");
                const informeProd = document.getElementById('informeProd');
                const nomProducto = 'Informe de dimensión producto'

                if (informeProd) {
                    informeProd.addEventListener('change', (e) => {
                        console.log(e)
                        const file = e.target.files[0]
                        // Capturando Zona Horaria Local
                        const tzLocal = Intl.DateTimeFormat().resolvedOptions().timeZone;

                        const formData = new FormData();
                        formData.append('file', file);
                        formData.append('codigoEmpresa', codigoEmpresa);
                        formData.append('nombreInforme', nomProducto);
                        formData.append('zonaHoraria', tzLocal);

                        guardarInforme(formData, infoEstadoProd, spanFechaProd, 2)

                    });
                }

                // Dimensión Administración
                const infoEstadoAdmin = document.getElementById("infoEstadoAdmin");
                const btnVerInformeAdmin = document.getElementById('btnVerInformeAdmin');
                const spanFechaAdmin = document.getElementById("spanFechaAdmin");
                const informeAdmin = document.querySelector('.inputInformeAdmin');
                const nomAdmin = 'Informe de dimensión administración';

                if (informeAdmin) {
                    informeAdmin.addEventListener('change', (e) => {
                        console.log(e)
                        const file = e.target.files[0]
                        // Capturando Zona Horaria Local
                        const tzLocal = Intl.DateTimeFormat().resolvedOptions().timeZone;

                        const formData = new FormData();
                        formData.append('file', file);
                        formData.append('codigoEmpresa', codigoEmpresa);
                        formData.append('nombreInforme', nomAdmin);
                        formData.append('zonaHoraria', tzLocal);

                        guardarInforme(formData, infoEstadoAdmin, spanFechaAdmin, 3)
                    });
                }

                // Dimensión Operaciones
                const infoEstadoOpe = document.getElementById("infoEstadoOpe");
                const btnVerInformeOpe = document.getElementById('btnVerInformeOpe');
                const spanFechaOpe = document.getElementById("spanFechaOpe");
                const informeOpe = document.querySelector('.inputInformeOperaciones');
                const nomOperacion = 'Informe de dimensión operaciones'

                if (informeOpe) {
                    informeOpe.addEventListener('change', (e) => {
                        console.log(e)
                        const file = e.target.files[0]
                        // Capturando Zona Horaria Local
                        const tzLocal = Intl.DateTimeFormat().resolvedOptions().timeZone;

                        const formData = new FormData();
                        formData.append('file', file);
                        formData.append('codigoEmpresa', codigoEmpresa);
                        formData.append('nombreInforme', nomOperacion);
                        formData.append('zonaHoraria', tzLocal);

                        guardarInforme(formData, infoEstadoOpe, spanFechaOpe, 4)
                    });
                }

                // Dimensión Marketing
                const infoEstadoMarketing = document.getElementById("infoEstadoMarketing");
                const btnVerInformeMarketing = document.getElementById('btnVerInformeMarketing');
                const spanFechaMarketing = document.getElementById("spanFechaMarketing");
                const informeMarketing = document.querySelector('.inputInformeMarketing');
                const nomMarketing = 'Informe de dimensión marketing'

                if (informeMarketing) {
                    informeMarketing.addEventListener('change', (e) => {
                        console.log(e)
                        const file = e.target.files[0]
                        // Capturando Zona Horaria Local
                        const tzLocal = Intl.DateTimeFormat().resolvedOptions().timeZone;

                        const formData = new FormData();
                        formData.append('file', file);
                        formData.append('codigoEmpresa', codigoEmpresa);
                        formData.append('nombreInforme', nomMarketing);
                        formData.append('zonaHoraria', tzLocal);

                        guardarInforme(formData, infoEstadoMarketing, spanFechaMarketing, 5)
                    });
                }

                // Informe Análisis General
                const infoEstadoGeneral = document.getElementById("infoEstadoGeneral");
                const btnVerInformeGeneral = document.getElementById('btnVerInformeGeneral');
                const spanFechaGeneral = document.getElementById("spanFechaGeneral");
                const inputInformeGeneral = document.querySelector('.inputInformeGeneral');
                const nomInformeAnalisis = 'Informe de análisis'

                if (inputInformeGeneral) {
                    inputInformeGeneral.addEventListener('change', (e) => {
                        console.log(e)
                        const file = e.target.files[0]
                        // Capturando Zona Horaria Local
                        const tzLocal = Intl.DateTimeFormat().resolvedOptions().timeZone;

                        const formData = new FormData();
                        formData.append('file', file);
                        formData.append('codigoEmpresa', codigoEmpresa);
                        formData.append('nombreInforme', nomInformeAnalisis);
                        formData.append('zonaHoraria', tzLocal);

                        guardarInforme(formData, infoEstadoGeneral, spanFechaGeneral, 6)
                    });
                }

                // Informe Plan Estratégico
                const infoEstadoPlan = document.getElementById("infoEstadoPlan");
                const btnVerInformePlan = document.getElementById('btnVerInformePlan');
                const spanFechaPlan = document.getElementById("spanFechaPlan");
                const inputInformePlan = document.querySelector('.inputInformePlan');
                const nomInformePlan = 'Informe de plan estratégico'

                if (inputInformePlan) {
                    inputInformePlan.addEventListener('change', (e) => {
                        console.log(e)
                        const file = e.target.files[0]
                        // Capturando Zona Horaria Local
                        const tzLocal = Intl.DateTimeFormat().resolvedOptions().timeZone;

                        const formData = new FormData();
                        formData.append('file', file);
                        formData.append('codigoEmpresa', codigoEmpresa);
                        formData.append('nombreInforme', nomInformePlan);
                        formData.append('zonaHoraria', tzLocal);

                        guardarInforme(formData, infoEstadoPlan, spanFechaPlan, 7)
                    });
                }

                {{/if}}

			{{/if}}

		});

	})();
</script>