<div class="wrapper shadow-lg mx-auto mt-3">
    <form action="/empresa/add" method="POST" id="wizard">
        <!-- SECTION 1 DATOS PERSONALES -->
        <h4></h4>
        <section>
            <h3>Datos Personales</h3>
            <div class="form-row">
                <div class="form-holder">
                    <i class="zmdi zmdi-account"></i>
                    <input type="text" class="form-control" name="nombre" placeholder="Nombre">
                </div>
                <div class="form-holder">
                    <i class="zmdi zmdi-account"></i>
                    <input type="text" class="form-control" name="apellido" placeholder="Apellido">
                </div>
            </div>
            <div class="form-row">
                <div class="form-holder">
                    <i class="zmdi zmdi-email"></i>
                    <input type="email" class="form-control" name="email" placeholder="Email">
                </div>
                <div class="form-holder">
                    <i class="zmdi zmdi-smartphone-android"></i>
                    <input type="text" class="form-control" name="telefono" placeholder="Teléfono">
                </div>
            </div>
            <div class="form-row">
                <div class="form-holder">
                    {{!-- <i class="zmdi zmdi-calendar"></i> --}}
                    <input type="date" class="form-control" name="fecha_nacimiento" placeholder="Fecha de Nacimiento">
                </div>
                <div class="form-holder">
                    <i class="zmdi zmdi-map"></i>
                    <input type="text" class="form-control" name="pais" placeholder="País/Nacionalidad">
                </div>
            </div>
            <p><strong>Redes Sociales</strong></p>
            <div class="form-holder">
                <i class="zmdi zmdi-twitter"></i>
                <input type="text" class="form-control" name="twitter" placeholder="Twitter">
            </div>
            <div class="form-holder">
                <i class="zmdi zmdi-facebook"></i>
                <input type="text" class="form-control" name="facebook" placeholder="Facebook">
            </div>
            <div class="form-holder">
                <i class="zmdi zmdi-instagram"></i>
                <input type="text" class="form-control" name="instagram" placeholder="Instagram">
            </div>
            <div class="form-holder">
                <i class="zmdi zmdi-link"></i>
                <input type="text" class="form-control" name="otra" placeholder="Otra">
            </div>
        </section>

        <!-- SECTION 2 SOBRE LA EMPRESA -->
        <h4></h4>
        <section>
            <h3>Sobre la Empresa</h3>
            <div class="form-row">
                <div class="input-group w-80 form-holder">
                    <div class="input-group-text">
                        <input class="form-check-input mt-0" type="checkbox" value="Si" name="es_propietario" aria-label="Checkbox for following text input">
                    </div>
                    <input type="text" class="form-control" value="¿Eres dueño de negocio?" readonly style="background:white" >
                </div>
                <div class="input-group w-80 form-holder">
                    <div class="input-group-text">
                        <input class="form-check-input mt-0" type="checkbox" value="Si" name="socios" aria-label="Checkbox for following text input">
                    </div>
                    <input type="text" class="form-control" value="¿Tienes socios?" readonly style="background:white">
                </div>
            </div>
            <div class="form-row">
                <div class="form-holder w-100">
                    <input type="text" class="form-control" name="nombre_empresa" placeholder="Nombre de la empresa">
                    <i class="zmdi zmdi-accounts-list"></i>
                </div>
                <div class="form-holder w-40">
                    <input type="text" class="form-control" name="cantidad_socios" placeholder="Cantidad de socios">
                    <i class="zmdi zmdi-accounts-list"></i>
                </div>
            </div>
            <div class="form-row">
                <div class="form-holder w-80">
                    <input type="text" class="form-control" name="porcentaje_accionario" placeholder="¿Porcentaje accionario?">
                    <i class="zmdi zmdi-accounts-list"></i>
                </div>
                <div class="form-holder w-80">
                    <input type="text" class="form-control" name="tiempo_fundacion" placeholder="Tiempo de fundacion">
                    <i class="zmdi zmdi-accounts-list"></i>
                </div>
            </div>
            <div class="form-row">
                <div class="form-holder w-80">
                    <input type="text" class="form-control" name="tiempo_experiencia" placeholder="Años de experiencia en la rama">
                    <i class="zmdi zmdi-accounts-list"></i>
                </div>
                <div class="form-holder w-80">
                    <input type="text" class="form-control" name="promedio_ingreso_anual" placeholder="Promedio de ingreso anual*">
                    <i class="zmdi zmdi-accounts-list"></i>
                </div>
            </div>
            <div class="form-row">
                <div class="form-holder w-80">
                    <input type="text" class="form-control" name="num_empleados" placeholder="Número de empleados ">
                    <i class="zmdi zmdi-accounts-list"></i>
                </div>
                <div class="form-holder w-80">
                    <input type="text" class="form-control" name="page_web" placeholder="Página Web">
                    <i class="zmdi zmdi-link"></i>
                </div>
            </div>
        </section>

        <!-- SECTION DESCRIPCIÓN DE TU NEGOCIO 3 -->
        <h4></h4>
        <section>
            <h3 style="margin-bottom: 16px;">Descripción de tu negocio</h3>
            <div class="form-row w-100">
                <textarea class="form-control form-control-sm" name="descripcion" placeholder="¿Qué hace tu negocio?" cols="25" rows="10" style="width:100%; height:8em"></textarea>
            </div>
            <div class="form-row">
                <div class="form-holder">
                    <label for="textfortEtapa">¿En qué etapa se encuentra tu negocio?</label>
                </div>
                <div class="form-holder">
                    <select class="form-select form-select-sm" name="etapa_actual" aria-label=".form-select-sm example">
                        <option value="En Proyecto" selected>En Proyecto</option>
                        <option value="Operativo">Operativo</option>
                        <option value="En expansión">En expansión</option>
                        <option value="Otro">Otro</option>
                    </select>
                </div>
            </div>
            <div class="form-holder">
                <label for="textforObjetivos">¿Cuáles son los 3 principales objetivos de tu negocio?</label>
            </div>
            <div class="form-holder">
                <input type="text" class="form-control form-control-sm" name="objetivo1" placeholder="1-">
            </div>
            <div class="form-holder">
                <input type="text" class="form-control form-control-sm" name="objetivo2" placeholder="2-">
            </div>
            <div class="form-holder">
                <input type="text" class="form-control form-control-sm" name="objetivo3" placeholder="3-">
            </div>
            {{!-- <div class="form-row">
                <input type="text" class="form-control" name="objetivo2" placeholder="2-">
            </div>
            <div class="form-row">
                <input type="text" class="form-control" name="objetivo3" placeholder="3-">
            </div> --}}
        </section>

        <!-- SECTION 4 -->
        <h4></h4>
        <section>
            <!-- Fortalezas de tu negocio -->
            <div class="form-holder">
                <label for="textforFortalezas">¿Cuáles son las 3 principales fortalezas de tu negocio?</label>
            </div>
            <div class="form-holder">
                <input type="text" class="form-control form-control-sm" name="fortaleza1" placeholder="1-">
            </div>
            <div class="form-holder">
                <input type="text" class="form-control form-control-sm" name="fortaleza2" placeholder="2-">
            </div>
            <div class="form-holder mb-2">
                <input type="text" class="form-control form-control-sm" name="fortaleza3" placeholder="3-">
            </div>
            <!-- Problemas de tu negocio -->
            <div class="form-holder">
                <label for="textforProblemas">¿Cuáles son los 3 principales problemas de tu negocio?</label>
            </div>
            <div class="form-holder">
                <input type="text" class="form-control form-control-sm" name="problema1" placeholder="1-">
            </div>
            <div class="form-holder">
                <input type="text" class="form-control form-control-sm" name="problema2" placeholder="2-">
            </div>
            <div class="form-holder mb-2">
                <input type="text" class="form-control form-control-sm" name="problema3" placeholder="3-">
            </div>
            <div class="form-row w-100">
                <textarea class="form-control form-control-sm" name="motivo_consultoria" placeholder="¿Cuál es el motivo por el que requiere esta consultoría de negocio?" cols="25" rows="10" style="width:100%; height:8em"></textarea>
            </div>
        </section>
    </form>
</div>
<!-- JQUERY STEP -->
<script src="/js/jquery-3.3.1.min.js"></script>
<!-- JQUERY STEP -->
<script src="/js/jquery.steps.js"></script>
<script src="/js/main.js"></script>
<!-- CUSTOM SCRIPTS JS -->