<div class="container p-4">
    <div class="row">
        {{#each empresa}}
            <div class="col-md-3">
                <div class="card text-white text-center bg-dark mb-3" style="max-width: 18rem;">
                    <div class="card-header">
                        <a href="#">
                            <h3 class="card-title text-uppercase text-white">{{nombre_empresa}}</h3>
                        </a>
                        </div>
                    <div class="card-body">
                        <h5 class="card-title">{{nombre}} {{apellido}}</h5>
                        <p class="card-text">{{descripcion}}</p>
                        <a href="#" class="btn btn-info mt-2">Editar</a>
                        <a href="#" class="card-link">Otro link</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>

