@import url("http://fonts.cdnfonts.com/css/oblivian-text");
body{
    font-family: 'Oblivian Text', sans-serif !important;
}

/* ¡Bienvenido de vuelta! */
.msg-Login-Top {
    font-size: 14px !important;
    color: #8B8B8B !important;
    margin-bottom: 2px !important;
}

/* Login con Redes Sociales */
.lg-gg-fb {
    /* width: 292px;
    height: 54px; */
    background: #FFFFFF !important;
    border: 2px solid #DCDCDC !important;
    box-sizing: border-box !important;
    border-radius: 60px !important;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

/* Login Google */
.gg-color {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat; -webkit-background-clip: text; background-clip: text; color: transparent; -webkit-text-fill-color: transparent;
}

.btn-gg {
    color: #6c757d !important;
    border: 1px solid #6c757d !important;
    border-radius: 20px !important;
}

.btn-gg:hover{
    background-color: #ab98b4b5 !important;
    border: 1px solid #ab98b4b5 !important;
    color: #fff !important;
}

.login-ingresar {
    width: 210px;
    height: 50px;
    background: linear-gradient(189.55deg, #FED061 -131.52%, #812082 -11.9%, #50368C 129.46%);
    border-radius: 31.5px !important;
}

/* Personalizado para Dashboard */
.nav-text{
    font-size: 14px !important;
}
.bgl-diagnostico {
    background: rgba(254, 208, 97, 0.2);
    border-color: rgba(254, 208, 97, 0.2);
}
.bg-diagnostico {
    background-color: #FED061 !important; }
  
a.bg-diagnostico:hover, a.bg-diagnostico:focus,
button.bg-diagnostico:hover,
button.bg-diagnostico:focus {
    background-color: #FED061 !important; 
}

.bgl-plan {
    background: rgba(80, 54, 140, 0.2);;
    ;
    border-color: rgba(80, 54, 140, 0.2);;
}
.bg-plan {
    background-color: #50368C !important; }
  
a.bg-plan:hover, a.bg-plan:focus,
button.bg-plan:hover,
button.bg-plan:focus {
    background-color: #50368C !important; 
}