/* Barra scroll personalizada */
.barra-scroll::-webkit-scrollbar {
    -webkit-appearance: none;
    appearance: none;
}
.barra-scroll::-webkit-scrollbar:vertical {
    width: 10px;
}
.barra-scroll::-webkit-scrollbar-button:increment,
.barra-scroll::-webkit-scrollbar-button {
    display: none;
}
.barra-scroll::-webkit-scrollbar:horizontal {
    height: 10px;
}
.barra-scroll::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 10px;
    border: 1px solid rgba(155, 155, 155, 0.747);
}
.barra-scroll::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #eae6f4;
}
/* Fin Barra scroll personalizada */

/* Clases generales */
.overflow-y-auto {
    overflow-y: auto;
    overflow-x: hidden;
}
.overflow-x-auto {
    overflow-x: auto;
    overflow-y: hidden;
}

/* ****************************************************** 
             ====>>  COLORES DE FONDOS  <<===
- botones comunes y de iconos
*/
.color_primary {
    background: #000000 !important;
}

.color_tertiary {
    background: #FFE000 !important;
}

/* ****************************************************** 
             ====>>  COLORES DE TEXTOS <<===
- titulos, subtitulos, parrafos, color de iconos
*/             
.text-white {
    color: #fff !important;
  }
  
  .text-primary {
    color: #000000 !important;
  }
  
  a.text-primary:hover,
  a.text-primary:focus {
    color: #000000 !important;
  }
  
  .text-secondary {
    color: #000000 !important;
  }
  
  a.text-secondary:hover,
  a.text-secondary:focus {
    color: #000000 !important;
  }

  .text-tertiary {
    color: #FFE000 !important;
  }