{{#if login}}
{{else}}
<nav>
		<ul class="cd-primary-nav">
			<li><a href="/" class="animated_link">Inicio</a></li>
      <li><a href="https://3csigma.com" class="animated_link">3CSigma.com</a></li>
			<li><a href="/logout" class="animated_link">Cerrar Sesión</a></li>
		</ul>
	</nav>
	<!-- /menu -->
  {{/if}}
{{#if user}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/img/logo_small_3csigma.png" width="40px" alt="Logo"> Consultoría 3C Sigma
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        {{#if user}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
          Links
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/links">All Links</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/links/add">Add A Link</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Cerrar Sesión</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/login">Iniciar Sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/registro">Registrarse</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
{{/if}}