<style>
    .txtDown {font-size: 12px;}
</style>
<div class="col-xl-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" style="margin:0 auto">Desarrollo de actividades</h4>
        </div>
        <input type="hidden" id="jsonDimCompletada" value="{{jsonDim}}">
        <div class="row">
            <div class="col-3" id="col-Producto">
                <h4 class="card-title my-4 mx-auto text-center" style="font-size: 17px;">Producto</h4>
                <canvas id="pieChart1"></canvas>
                <p id="perDim1" class="txtDown mx-auto text-center"></p>
            </div>
            <div class="col-3" id="col-Administracion">
                <h4 class="card-title my-4 mx-auto text-center" style="font-size: 17px;">Administración</h4>
                <canvas id="pieChart2"></canvas>
                <p id="perDim2" class="txtDown mx-auto text-center"></p>
            </div>
            <div class="col-3" id="col-Operaciones">
                <h4 class="card-title my-4 mx-auto text-center" style="font-size: 17px;">Operaciones</h4>
                <canvas id="pieChart3"></canvas>
                <p id="perDim3" class="txtDown mx-auto text-center"></p>
            </div>
            <div class="col-3" id="col-Marketing">
                <h4 class="card-title my-4 mx-auto text-center" style="font-size: 17px;">Marketing</h4>
                <canvas id="pieChart4"></canvas>
                <p id="perDim4" class="txtDown mx-auto text-center"></p>
            </div>
        </div>

    </div>
</div>