<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Negocio - 3CSigma</title>
    <link rel="icon" type="image/x-icon" href="./img/logo_small_3csigma.png">
    <!--  FONTS -->
    <link href="https://fonts.cdnfonts.com/css/oblivian-text" rel="stylesheet">
    <!--  BOOTSTRAP 5-->
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <!--  FONT AWESOME 5.5 -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="./fonts/material-design-iconic-font/css/material-design-iconic-font.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css"
        integrity="sha384-/frq1SRXYH/bSyou/HUp/hib7RVN1TawQYja658FEOodR/FQBKVqT9Ol+Oz3Olq5" crossorigin="anonymous">
    <!-- STYLE GENERAL CSS -->
    {{#if wizarx}}
    <link href="./css/styles.css" rel="stylesheet">
    {{/if}}
    <!-- CSS WIZARD LOGIN -->
    <link href="./css/iofrm-style.css" rel="stylesheet">
    <link href="./css/iofrm-theme3.css" rel="stylesheet">
    <!-- YOUR CUSTOM CSS -->
    <link href="./css/custom.css" rel="stylesheet">
    <!-- SWEET ALERT CSS -->
    <link href="./css/sweetalert2.min.css" rel="stylesheet">
    {{#if dashx}}
    <!-- DASHBOARD -->
    <link href="./vendor/css/chartist.min.css" rel="stylesheet">
    <link href="./vendor/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="./vendor/css/style.css" rel="stylesheet">
    <!-- Stripe Style -->
    {{#if stripe}}
    <link href="./css/checkout.css" rel="stylesheet" />
    {{/if}}
    {{/if}}
</head>

<body>

    {{> navigation }}

    {{{ body }}}

    <!-- COMMON SCRIPTS -->
    <script src="/js/popper.min.js"></script>
    <script src="/js/loginMain.js"></script>
    <script src="./js/jquery-3.6.0.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="./js/sweetalert2.min.js"></script>
    <script src="https://code.iconify.design/2/2.2.0/iconify.min.js"></script>
    <script src="./vendor/js/global.min.js"></script>
    <script src="./vendor/js/bootstrap-select.min.js"></script>
    <script src="./vendor/js/custom.min.js"></script>
    <script src="./vendor/js/deznav-init.js"></script>
    {{!--
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.7/dist/sweetalert2.all.min.js"></script> --}}
    {{#if wizarx}}
    <!-- Wizard Formularios Scripts-->
    <script src="./js/common_scripts.min.js"></script>
    <script src="./js/velocity.min.js"></script>
    <script src="./js/common_functions.js"></script>
    <script src="./js/file-validator.js"></script>
    <script src="./js/func_1.js"></script>
    {{/if}}
    {{#if dashx}}
    <!-- ****************** Required vendors - DASHBOARD ****************** -->
    <script src="./vendor/js/Chart.bundle.min.js"></script>
    <script src="./vendor/js/owl.carousel.js"></script>
    <script src="./vendor/js/personalScripts.js"></script>
    <!-- Chart piety plugin files -->
    <script src="./vendor/js/jquery.peity.min.js"></script>
    <!-- Apex Chart -->
    <script src="./vendor/js/apexchart.js"></script>
    <!-- Dashboard 1 -->
    <script src="./vendor/js/dashboard-1.js"></script>
    {{!-- Gráfica de Indicadores - Dashboard Principal --}}
    <script>
        (function ($) {
            var dzSparkLine = function () {
                let draw = Chart.controllers.line.__super__.draw; //draw shadow
                var screenWidth = $(window).width();

                var barChart1 = function () {
                    if (jQuery('#barChart_1').length > 0) {
                        const barChart_1 = document.getElementById("barChart_1").getContext('2d');

                        barChart_1.height = 100;
                        new Chart(barChart_1, {
                            type: 'bar',
                            data: {
                                defaultFontFamily: 'Oblivian',
                                labels: ["Producto", "Admin", "T. Humano", "Finanzas", "S. Al cliente", "Operaciones", "A. Laboral", "Innovación", "Marketing", "Ventas"],
                                datasets: [{
                                    label: "Primer análisis",
                                    backgroundColor: "#50368C",
                                    borderColor: "#50368C",
                                    data: [
                                        1,
                                        5,
                                        2,
                                        4,
                                        1,
                                        7,
                                        4,
                                        3,
                                        1,
                                        2
                                    ],
                                    fill: false,
                                }, {
                                    label: "Último análisis",
                                    fill: false,
                                    backgroundColor: "#FED061",
                                    borderColor: "#FED061",
                                    data: [
                                        3,
                                        7,
                                        5,
                                        10,
                                        2,
                                        3,
                                        3,
                                        5,
                                        4,
                                        6
                                    ],
                                }]
                            },
                            options: {
                                legend: false,
                                scales: {
                                    yAxes: [{
                                        gridLines: {
                                            display: false
                                        },
                                        ticks: {
                                            beginAtZero: true,
                                            min: 0, // minimum value
                                            max: 10 // maximum value
                                        }
                                    }],
                                    xAxes: [{
                                        gridLines: {
                                            display: false
                                        },
                                        ticks: {
                                            fontSize: 10
                                        },
                                        barPercentage: 0.5,
                                        categoryPercentage: 1,
                                        barThickness: 14,
                                        maxBarThickness: 10,
                                    }]
                                }
                            }
                        });
                    }
                }

                /* Function ============ */
                return {
                    init: function () {
                    },

                    load: function () {
                        barChart1();
                    },

                    resize: function () {
                        barChart1();
                    }
                }

            }();

            jQuery(document).ready(function () {
            });

            jQuery(window).on('load', function () {
                dzSparkLine.load();
                {{#if alertSuccess}}
                Swal.fire({
                    icon: 'success',
                    title: '¡Pago exitoso!',
                    html: '<p>Tu pago ha sido recibido, ahora puedes continuar con la firma del acuerdo de confidencialidad.</p>'
                            +'<a href="/acuerdo-de-confidencialidad" type="button" style="background: linear-gradient(189.55deg, #FED061 -131.52%, #812082 -11.9%, #50368C 129.46%);'
                            +'border-radius: 22px;'
                            +'color: #fff;'
                            +'width: 160px;'
                            +'height: 50px;'
                            +'text-align: center;'
                            +'padding: 14px;'
                            +'font-size: 17px;'
                            +'font-weight: 300;" id="checkout-button">Firmar acuerdo</a>',
                    showCancelButton: false,
                    showConfirmButton: false,
                })
                {{/if}}
                {{#if alertCancel}}
                Swal.fire({
                    icon: 'error',
                    title: 'Pago Cancelado',
                    text: 'Cancelaste el proceso de pago, tómate tu tiempo e intenta nuevamente.',
                })
                {{/if}}
            });

            jQuery(window).on('resize', function () {
                //dzSparkLine.resize();
                setTimeout(function () { dzSparkLine.resize(); }, 1000);
            });

        })(jQuery);
    </script>
    {{!-- Scripts Personalizados --}}
    <script src="./js/custom.js"></script>
        {{!-- Scripts Stripe --}}
        {{#if stripe}}
        <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
        <script src="https://js.stripe.com/v3/"></script>
        {{/if}}
    {{/if}}
</body>

</html>