<!DOCTYPE html>
<html lang="en">

<head>
    {{!-- HEADER GENERAL --}}
    {{> header }}

    <!-- DASHBOARD USUARIO EMPRESA -->
    {{#if user_dash}}
        {{> user/headerUser }}
    {{/if}}
    {{!-- DASHBOARD ADMINISTRADOR --}}
    {{#if adminDash}}
        {{> admin/headerAdmin }}
    {{/if}}

</head>

<body>
    {{#if user_dash}}
        {{> user/navigation }}
    {{/if}}
    {{#if adminDash}}
        {{> admin/navigationAdmin }}
    {{/if}}
    
    
    {{{ body }}}

    <!-- ./FIN DEL MAIN WRAPPER -->
    {{#if user_dash}}
    </div>
    {{/if}}
    {{#if adminDash}}
    </div>
    {{/if}}

    {{!-- FOOTER PARTIALS PRINCIPAL --}}
    {{> footer }}
    {{!-- FOOTER USUARIO EMPRESA --}}
    {{#if user_dash}}
        {{> user/footerUser }}
    {{/if}}
    {{!-- FOOTER ADMINISTRADOR --}}
    {{#if adminDash}}
        {{> admin/footerAdmin }}
    {{/if}}

    {{!-- SCRIPTS PARA EL LOGIN --}}
    {{#if confirmarLogin}}
    <script>
        $(document).ready(function () {
        });
        
        (function ($) {
            jQuery(document).ready(function () {
            });

            jQuery(window).on('load', function () {
                Swal.fire({
                    icon: 'success',
                    title: 'Correo verificado',
                    text: 'Has confirmado satisfactoriamente tu cuenta, ahora puedes iniciar sesión.',
                })
            });

        })(jQuery);
    </script>
    {{/if}}

</body>

</html>