<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Negocio | 3CSigma</title>
    <link rel="icon" type="image/x-icon" href="/img/logo_small_3csigma.png">
    {{!-- GOOGLE FONTS --}}
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600" rel="stylesheet">
    {{!-- BOOTSTRAP 5 --}}
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    {{!-- FONT AWESOME 5 --}}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="/fonts/material-design-iconic-font/css/material-design-iconic-font.css">
    <!-- DATE-PICKER -->
    <link rel="stylesheet" href="/css/datepicker.min.css">
    <!-- STYLE CSS -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- YOUR CUSTOM CSS -->
    <link href="/css/custom.css" rel="stylesheet">
    
</head>
<body>
    {{> navigation }}
    {{{ body }}}
</body>
</html>