<div class="form-body">
    <div class="top_logo">
        <a href="/">
            <div class="logo-Login" >
                <img class="logo-size-Login" src="/img/3C-sigma-logo-full.png" alt="Logo 3CSigma">
            </div>
        </a>
    </div>
    <div class="row">
        <div class="img-holder">
            <div class="bg"></div>
            <div class="info-holder">
            </div>
        </div>
        {{!-- Banner para Móvil --}}
        <div class="loginBanner">
            <img class="loginBanner-size" src="/img/Login_Banner_movil.jpg" alt="Banner Móvil">
        </div>
        {{!-- Fin Banner Móvil --}}
        <div class="form-holder form-abajo">
            <div class="form-content">
                <div class="form-items">
                    {{> message }}
                    <h3 class="tituH3">Cuenta confirmada correctamente</h3>
                    <br>
                    <div class="other-links d-flex align-items-center" style="margin-top: -26px;">
                        <label class="text-center fw-bold mx-auto mb-4"
                            style="color:#000;font-weight: bold !important;">Haz clic aquí, <a
                                href="/login"><label style="color:#812082;font-weight: bold !important;"> iniciar sesión
                                    ahora</label></a>
                        </label>
                    </div>
                    
                    {{!-- Copyright --}}
                    <div class="d-flex align-items-center my-4">
                        <br><br>
                        <span class="text-center fw-bold mx-auto mb-0 mt-4">2022 Copyright &copy; 3C Sigma</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{{!-- Login Scripts --}}
<script src="/js/popper.min.js"></script>
<script src="/js/loginMain.js"></script>