<div class="form-body">
    <div class="top_logo">
        <a href="/">
            <div class="logo-Login" >
                <img class="logo-size-Login" src="/img/3C-sigma-logo-full.png" alt="Logo 3CSigma">
            </div>
        </a>
    </div>
    <div class="row">
        <div class="img-holder">
            <div class="bg"></div>
            <div class="info-holder">
            </div>
        </div>
        <div class="loginBanner">
            <img class="loginBanner-size" src="/img/Login_Banner_movil.jpg" alt="Banner Móvil">
        </div>
        
        <div class="form-holder form-abajo">
            <div class="form-content">
                <div class="form-items">
                    {{> message }}
                    <p class="msg-Login-Top">¡Bienvenido de nuevo!</p>
                    <h3 class="tituH3">Inicia sesión en tu cuenta</h3>
                    {{!-- Autenticación Google & Facebook --}}
                    {{!-- <div class="row" style="margin-top: 1.2em;">
                        <div class="col-12 col-sm-6 mb-2 p-1">
                            <a class="btn btn-lg btn-block btn-gg" href="/auth/google" role="button">
                                <i class="fab fa-google gg-color"></i> Continuar con Google
                            </a>
                        </div>
                        <div class="col-12 col-sm-6 mb-2 p-1">
                            <a class="btn btn-lg btn-block btn-fb" href="#" role="button">
                                <i class="fab fa-facebook"></i> Continuar con Facebook
                            </a>
                        </div>
                    </div> --}}
                    {{!-- <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0 text-muted" style="font-size: 15px;">o inicia con tu correo</p>
                    </div> --}}
                    <br>
                    <form action="/login" method="post">
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                        <label style="color:#000;font-weight: bold !important; margin-top: 6px;">Correo electrónico</label>*</label>
                        <input class="form-control" type="email" name="email" placeholder="ejemplo@tusitioweb.com"
                            required autofocus>
                        <label style="color:#000;font-weight: bold !important; margin-top: 6px;">Contraseña*</label>
                        <input class="form-control" type="password" name="clave" placeholder="Introduce tu contraseña"
                            required>
                        <div class="row">
                            <div class="col-12 col-sm-7">
                                <label class="switch" style="margin-top: 6px;">
                                    <input type="checkbox" name="recuerdame" id="recuerdame" value="true">
                                    <span class="slider round"></span>
                                    <label for=""></label>
                                </label>
                                <label for="customSwitch1" style="font-weight: bold !important"> Recuérdame</label>
                            </div>
                            <div class="col-12 col-sm-5" style="margin-top: 9px;">
                                <a href="#" style="color:#50368C;">Olvidé mi contraseña</a>
                            </div>
                        </div>
                        <div class="form-button d-flex align-items-center">
                            <button id="submit" type="submit"
                                class="ibtn login-ingresar text-center fw-bold mx-auto mb-4">Ingresar</button>
                        </div>
                    </form>

                    <div class="other-links d-flex align-items-center my-4">
                        <span class="text-center fw-bold mx-auto" style="color:#000;font-weight: bold !important;">¿No
                            estas registrado?<a href="/registro"><span
                                    style="color:#812082;font-weight: bold !important;"> Crea una cuenta
                                    hoy</span></span></a>
                    </div>
                    {{!-- Copyright --}}
                    <div class="d-flex align-items-center my-4">
                        <br><br>
                        <span class="text-center fw-bold mx-auto mb-0 mt-4">2022 Copyright &copy; 3C Sigma</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- Login Scripts --}}
{{!-- <script src="/js/popper.min.js"></script>
<script src="/js/loginMain.js"></script> --}}

{{!-- Mensajes de Sweet Alert  --}}
{{!-- {{#if message}}
<input type="hidden" name="msg" id="msg" value="{{message}}">
<script>
    let msg = document.getElementById("msg").value;
    function load() {
        Swal.fire({
            icon: 'warning',
            title: 'Advertencia',
            text: `${msg}`
        })
    }
    window.onload = load;
</script>
{{/if}} --}}