<div class="form-body">
    <div class="top_logo">
        <a href="/">
            <div class="logo-Login" >
                 {{#if todoLink}}
                <img class="logo-size-Login" src="./img/3C-sigma-logo-full.png" alt="Logo 3CSigma">
                {{/if}}
                {{#if login}}
                <img class="logo-size-Login" src="../img/3C-sigma-logo-full.png" alt="Logo 3CSigma">
                {{/if}}
            </div>
        </a>
    </div>
    <div class="row">
        <div class="img-holder">
            <div class="bg"></div>
            <div class="info-holder">
            </div>
        </div>
        {{!-- Banner para Móvil --}}
        <div class="loginBanner">
            {{#if todoLink}}
            <img class="loginBanner-size" src="./img/Login_Banner_movil.jpg" alt="Banner Móvil">
            {{/if}}
            {{#if login}}
            <img class="loginBanner-size" src="../img/Login_Banner_movil.jpg" alt="Banner Móvil">
            {{/if}}
        </div>
        {{!-- Fin Banner Móvil --}}
        <div class="form-holder form-abajo">
            <div class="form-content">
                <div class="form-items">
                    {{> message }}
                    <p class="msg-Login-Top">Preparate para ver crecer tu empresa</p>
                    <h3 class="tituH3">Crea tu cuenta hoy</h3>
                    {{!-- Autenticación Google & Facebook --}}
                    {{!-- <div class="row" style="margin-top: 1.2em;">
                        <div class="col-12 col-sm-6 mb-2 p-1">
                            <a class="btn btn-lg btn-block btn-gg" href="/auth/google" role="button">
                                <i class="fab fa-google gg-color"></i> Registrate con Google
                            </a>
                        </div>
                        <div class="col-12 col-sm-6 mb-2 p-1">
                            <a class="btn btn-lg btn-block btn-fb" href="#" role="button">
                                <i class="fab fa-facebook"></i> Registrate con Facebook
                            </a>
                        </div>
                    </div>
                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0 text-muted" style="font-size: 15px;">o inicia con tu
                            correo</p>
                    </div> --}}
                    {{!-- Referencia de Login o Registro --}}
                    {{!-- <div class="page-links">
                        <a href="#" class="active">Login</a><a href="#">Register</a>
                    </div> --}}
                    <br>
                    <form action="/registro" method="post">
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <label style="color:#000;font-weight: bold !important;">Email*</label>
                                <input class="form-control" type="email" name="email"
                                    placeholder="ejemplo@tusitioweb.com" required autofocus>
                            </div>
                            <div class="col-12 col-sm-6">
                                <label style="color:#000;font-weight: bold !important;">Password*</label>
                                <input class="form-control" type="password" name="clave"
                                    placeholder="Introduce tu contraseña" required required>
                            </div>
                        </div>

                        {{!-- Campos de Nombre & Apelidos --}}
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <label style="color:#000;font-weight: bold !important;">Nombres*</label>
                                <input class="form-control" type="text" name="nombres"
                                    placeholder="Introduce tus nombres" required autofocus>
                            </div>
                            <div class="col-12 col-sm-6">
                                <label style="color:#000;font-weight: bold !important;">Apellidos*</label>
                                <input class="form-control" type="text" name="apellidos"
                                    placeholder="Introduce tus apellidos" required required>
                            </div>
                        </div>
                        
                        <div class="col-12">
                            <label style="color:#000;font-weight: bold !important;">Empresa*</label>
                            <input class="form-control" type="text" name="nombre_empresa"
                                placeholder="Ingresa el nombre de tu empresa" required autofocus>
                        </div>
                        <div class="row d-flex align-items-center">
                            <div class="col-12 text-center fw-bold mx-auto mb-4">
                                <input class="form-control" id="politicas" name="politicas" type="checkbox" required>
                                <label for="politicas"> Acepto las <a href="#"
                                        style="color:#812082;font-weight: bold !important;"> politicas de
                                        privacidad</a></label>
                            </div>
                        </div>
                        <div class="form-button d-flex align-items-center">
                            <button id="submit" type="submit"
                                class="ibtn login-ingresar text-center fw-bold mx-auto mb-4"
                                onclick="validarFormRegistro()">Crear cuenta</button>
                        </div>
                    </form>
                    <div class="other-links d-flex align-items-center" style="margin-top: -26px;">
                        <span class="text-center fw-bold mx-auto mb-4"
                            style="color:#000;font-weight: bold !important;">¿Ya tienes una cuenta? <a
                                href="/login"><span style="color:#812082;font-weight: bold !important;"> inicia sesión
                                    ahora</span></span></a>
                    </div>
                    {{!-- Copyright --}}
                    <div class="d-flex align-items-center my-4">
                        <br><br>
                        <span class="text-center fw-bold mx-auto mb-0 mt-4">2022 Copyright &copy; 3C Sigma</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    function validarFormRegistro(){
        const a = document.getElementById("politicas").checked
        if(a == false){
            Swal.fire({
                icon: 'warning',
                title: 'Advertencia',
                text: "Por favor acepta las politicas de privacidad"
            })
            //alert("Por favor acepta las politicas de privacidad")
        } else {
            console.log("Registro exitoso")
        }
    }
</script>